.menu-card{


background:white;

border-radius:20px;

overflow:hidden;

box-shadow:
0 8px 25px rgba(0,0,0,0.12);


transition:0.3s;


width:280px;


}



.menu-card:hover{


transform:translateY(-8px);


}





.food-image img{


width:100%;

height:180px;

object-fit:cover;


}





.food-details{


padding:20px;


}




.food-details h3{


font-size:22px;

margin-bottom:10px;


color:#222;


}





.category{


color:#777;

font-size:14px;


}




.price{


font-size:20px;

font-weight:bold;

color:#ff1493;


}




.food-details button{


width:100%;


padding:12px;


border:none;


border-radius:25px;


background:#ff1493;


color:white;


font-size:16px;


cursor:pointer;


transition:.3s;


}




.food-details button:hover{


background:#d90072;


}